*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}
html {
  height: 100%;
}

:root {
  --primary: #2f68dd;
  --light-primary: #5b88e4;
  --white: #f8f9fa;
  --pink: #5e45b8;
  --light-pink: #3a3ae4;
  --gray: #4a4a4a;
  --light-gray: #dcdcdc;
  --yellow: #fecd48;
}

/* global styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-pink);
  border-radius: 16px;
}

button:disabled {
  background-color: var(--light-primary);
  cursor: not-allowed;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  background-color: #d9d9d9;
  border: 1px solid #fff;
  z-index: -1;
}

.progress {
  background-color: var(--primary);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 4rem;
  height: 4rem;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  text-wrap: nowrap;
  position: absolute;
  top: 110%;
  color: #666;
  background: #fff;
  border-radius: 16px;
  padding-inline: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
}

.progress-step-active {
  background-color: var(--primary);
  color: var(--white);
}

/* Form */
.form {
  /* width: 600px; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-step {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 95%;
  margin-bottom: 2rem;
  height: 640px;
  /* transform-origin: left;
  animation: animate 0.5s; */
}

.form-step-active {
  display: flex;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  width: 45%;
}

.input-group input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 2.25rem;
  border-radius: 0.5rem;
  height: 3.25rem;
  border-width: 2px;
  border-style: solid;
  background: #fff;
  outline: none;
}

input[name="phone"]::placeholder,
input[name="phone"] {
  text-align: left;
}

input,
input:focus {
  border-color: var(--pink);
}

input:active,
input:not(:placeholder-shown) {
  border-color: var(--primary);
}

.input-group label {
  color: var(--gray);
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

@keyframes animate {
  from {
    transform: scale(0, 1);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.card-form {
  border-radius: 24px;
  background: rgba(232, 232, 232, 0.3);
  backdrop-filter: blur(22.5px);
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 90%;
  width: 100%;
}

.cricle-card {
  position: absolute;
  left: -25%;
  bottom: -25%;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: rgba(91, 136, 228, 0.5);
  filter: blur(60px);
  z-index: -1;
}

.vector-card {
  position: absolute;
  right: 0;
  top: 0;
  fill: rgb(94, 69, 184);
  opacity: 0.3;
  filter: blur(60px);
  z-index: -1;
}

.handSim-svg-card {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
}

.usage-menu {
  position: absolute;
  bottom: 3.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  display: none;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  overflow: auto;
  max-height: 12rem;
}

.usage-menu::-webkit-scrollbar {
  width: 7px;
}

.usage-menu::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 16px;
}

.usage-menu::-webkit-scrollbar-thumb {
  background: var(--light-pink);
  border-radius: 16px;
}

.usage-menu li {
  padding-inline: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.usage-menu li:hover {
  background-color: #dedede;
}

.usage-menu li.active {
  background-color: #d9d9d9;
}

.menu-open {
  display: block;
  opacity: 1;
}

/* Cards */
.active-card {
  box-shadow: 2px 3px 12px 0px rgba(74, 74, 74, 0.25);
}

.price-currency {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}
.price {
  color: var(--light-primary);
  font-size: 12px;
  font-weight: 500;
}

.validity {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}

.validity-period {
  color: var(--light-primary);
  background-color: var(--white);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-inline: 1.25rem;
}

.inactive-number {
  color: #d01010;
}

.swiper {
  width: 100%;
  overflow: unset;
}

.swiper-slide {
  position: relative;
  width: 33%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--light-primary);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  color: #fff;
  transition: all 200ms ease-in;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1);
  background-color: var(--primary);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-button-prev {
  left: 25%;
  top: 100%;
}

.swiper-button-next {
  right: 25%;
  top: 100%;
}

.payment-card.active {
  border-color: var(--primary);
}

.selected-num.active {
  background: var(--primary);
}

.selected-num.active .validity {
  color: var(--white);
}

.selected-num {
  transition: all 300ms ease-in-out;
}
/* Button */
.btns-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* margin-top: auto; */
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn-next:hover {
  box-shadow: 0 0 0 2px #f8f9fa, 0 0 0 4px var(--primary);
}

.btn-prev:hover {
  box-shadow: 0 0 0 2px #f8f9fa, 0 0 0 4px var(--gray);
}

.btn-prev {
  background-color: var(--yellow);
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-inline: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 300px;
  height: 45px;
  transition: all 200ms ease-out;
  gap: 0.25rem;
}

.btn-prev span {
  color: var(--gray);
  font-weight: 600;
  font-size: 1rem;
}

.btn-next {
  background-color: var(--primary);
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-inline: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 300px;
  height: 45px;
  transition: all 200ms ease-out;
  gap: 0.25rem;
}
.btn-next:hover {
  background-color: var(--light-primary);
}

.nextbtn svg {
  width: 32px;
  height: 32px;
}

.btn-next span {
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
}
