*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}
html {
  height: 100%;
}

:root {
  --primary: #2f68dd;
  --light-primary: #5b88e4;
  --white: #f8f9fa;
  --pink: #5e45b8;
  --light-pink: #3a3ae4;
  --gray: #4a4a4a;
  --light-gray: #dcdcdc;
}

/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  background-color: #d9d9d9;
  z-index: -1;
}

.progress {
  background-color: var(--primary);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 4rem;
  height: 4rem;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  text-wrap: nowrap;
  position: absolute;
  top: 110%;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.progress-step-active {
  background-color: var(--primary);
  color: var(--white);
}

/* Form */
.form {
  width: 600px;
  margin: 0 auto;
}

.form-step {
  display: none;
  /* transform-origin: left;
  animation: animate 0.5s; */
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(0, 1);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Cards */
.active-card {
  box-shadow: 2px 3px 12px 0px rgba(74, 74, 74, 0.25);
}

.price-currency {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}
.price {
  color: var(--light-primary);
  font-size: 12px;
  font-weight: 500;
}

.validity {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}

.validity-period {
  color: var(--light-primary);
  background-color: var(--white);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-inline: 2rem;
}

/* Button */
.btns-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary);
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary);
}

.btn-next {
  background-color: var(--primary);
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-inline: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 300px;
  height: 45px;
  transition: all 200ms ease-out;
  gap: 0.25rem;
}
.btn-next:hover {
  background-color: var(--light-primary);
}

.nextbtn svg {
  width: 32px;
  height: 32px;
}

.btn-next span {
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
}
